@media screen and (max-width: 1440px) {
header .header-container {
  width: auto;
}

header .header-container h1 {
  font-size: 30px;
}

header .header-container .header-navegacao {
  width: 800px;
  height: 60px;
}

header .header-container .header-navegacao a {
  font-size: 16px;
}

header .header-container .header-navegacao #header-btn-email {
  text-align: center;
  border-radius: 10px;
}

/* conteudo principal main */
#container-main {
  width: auto;
  justify-content: space-around;
}

/* sessao sobre mim */
#container-sobremim {
  width: auto;
}

#container-sobremim #box-conteudo-sobremim {
  justify-content: space-around;
  width: auto;
}

#box-paragraph-sobremim {
  width: 900px;
}

/* sessao gostos pessoais */
#container-hobbies {
  width: auto;
  height: 700px;
}

#container-hobbies #box-conteudo-hobbies {
  width: auto;
  justify-content: space-around;
}

#container-hobbies #box-conteudo-hobbies .box-card-hobbies {
  width: 320px;
  height: 460px;
} 

#box-conteudo-hobbies .box-img-hobbies {
  width: 300px;
  height: 330px;
}

/* sessao de motivacao */
#container-motivacao {
  width: auto;
}

#container-motivacao #box-conteudo {
  justify-content: space-around;
}

footer {
  justify-content: space-around;
}

footer #container-footer {
  width: 1200px;
}
}

@media screen and (max-width:1024px) {
header .header-container h1 {
  font-size: 22px;
}
  
header .header-container .header-navegacao {
  width: 650px;
}

header .header-container .header-navegacao a {
  font-size: 14px;
}

header .header-container .header-navegacao #header-btn-email {
  width: 140px;
}

/* conteudo principal main */
#container-main {
  width: auto;
  justify-content: space-around;
}

#container-main #box-conteudo-principal-main {
  width: 650px;
}

#container-main #box-conteudo-principal-main h3 {
  font-size: 25px;
}

#container-main #box-conteudo-principal-main p {
  font-size: 18px;
}

/* foto de perfil - main */
#container-main #box-img-perfil {
  height: 400px;
  width: 250px;
}

/* sessao sobre mim */
#container-sobremim {
  height: 500px;
}

.title {
  font-size: 30px;
}

#box-paragraph-sobremim {
  width: 650px;
}

#box-paragraph-sobremim p {
  font-size: 16px;
}

#box-img-garoto {
  height: 250px;
  width: 250px;
}                                           

/* sessao gostos pessoais */
#container-hobbies {
  height: 600px;
}

#container-hobbies #box-conteudo-hobbies {
  height: 500px;
}

#container-hobbies #box-conteudo-hobbies .box-card-hobbies {
  width: 270px;
  height: 410px;
} 

#box-conteudo-hobbies .box-img-hobbies {
  width: 250px;
  height: 250px;
}

/* sessao de motivacao */
#container-motivacao {
  height: 400px;
}

#container-motivacao #box-conteudo {
  height: 300px;
}

#container-motivacao #box-conteudo img {
  width: 150px;
  height: 150px;
}

#container-motivacao  #box-descricao-motivacao p {
  font-size: 18px;
}

footer #container-footer {
  width: 950px;
}
}

@media screen and (max-width: 834px) {
header .header-container h1 {
  font-size: 20px;
}
    
header .header-container .header-navegacao {
  width: 520px;
}

/* conteudo principal main */
#container-main #box-conteudo-principal-main {
    width: 450px;
}
  
#container-main #box-conteudo-principal-main h3 {
  font-size: 22px;
}
  
#container-main #box-conteudo-principal-main p {
  font-size: 16px;
}
  
/* sessao sobre mim */
#container-sobremim {
  height: 500px;
}
  
.title {
  font-size: 25px;
}
  
#box-paragraph-sobremim {
  width: 480px;
  text-align: justify;
}

/* sessao gostos pessoais */
#container-hobbies {
  height: 550px;
}
  
#container-hobbies #box-conteudo-hobbies {
  height: 450px;
}
  
#container-hobbies #box-conteudo-hobbies .box-card-hobbies {
  width: 260px;
  height: 400px;
} 
  
#box-conteudo-hobbies .box-img-hobbies {
  width: 240px;
  height: 230px;
}
  
/* sessao de motivacao */
#container-motivacao {
  height: 350px;
}
  
#container-motivacao #box-conteudo {
  height: 270px;
}
  
#container-motivacao #box-conteudo img {
  width: 150px;
  height: 150px;
}

#container-motivacao  #box-descricao-motivacao {
  width: 600px;
}
  
footer #container-footer {
  width: 720px;
}
}

@media screen and (max-width: 768px) {
header .header-container h1 {
  display: none;
}
      
header .header-container .header-navegacao {
  width: 700px;
}
 
#box-paragraph-sobremim {
  width: 420px;
}

/* sessao gostos pessoais */
#container-hobbies {
  height: 550px;
}
  
#container-hobbies #box-conteudo-hobbies {
  height: 450px;
}
  
#container-hobbies #box-conteudo-hobbies .box-card-hobbies {
  width: 250px;
  height: 400px;
} 
  
#box-conteudo-hobbies .box-img-hobbies {
  width: 230px;
  height: 230px;
}
}