* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--corPrimaria-preto);
}

header {
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header .header-container h1 {
  font-size: 40px;
  letter-spacing: 4px;
  text-transform: capitalize;
  font-family: var(--fontPrincipal);
  color: var(--corTercearia-branco);
}

header .header-container .header-navegacao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  height: 60px;
}

header .header-container .header-navegacao a {
  font-size: 18px;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--corTercearia-branco);
  font-family: var(--fontSecundaria);
  transition: 0.5s;
}

header .header-container .header-navegacao a:hover {
 color: var(--corHover);
}

header .header-container .header-navegacao #header-btn-email {
  background-color: var(--corSecundaria-vermelho);
  color: var(--corTercearia-branco);
  width: 160px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}

header .header-container .header-navegacao #header-btn-email:hover {
  background-color: var(--corHover);
  box-shadow: 1px 1px 5px white;
  transition: 0s;
}

/* conteudo principal main */
#container-main {
  width: 1440px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container-main #box-conteudo-principal-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 700px;
}

#container-main #box-conteudo-principal-main h3 {
  font-size: 25px;
  text-transform: capitalize;
  color: var(--corSecundaria-vermelho);
  font-family: var(--fontSecundaria);
}

#container-main #box-conteudo-principal-main p {
  font-size: 20px;
  color: var(--corTercearia-branco);
  font-family: var(--fontSecundaria);
}

/* foto de perfil - main */
#container-main #box-img-perfil {
  height: 500px;
  width: 300px;
  border-radius: 8px;
}

/* links de rede sociais - main */
#container-main #box-redesocial-main {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  display: block;
}

#container-main #box-redesocial-main #nav-redes-sociais {
  margin-top: 5px;
}

#container-main #box-redesocial-main #nav-redes-sociais .logo-social {
  width: 40px;
  height: 40px;
}

#container-main #box-redesocial-main #nav-redes-sociais .logo-social:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 5px white;
  transition: 0s;
}

/* sessao sobre mim */
#container-sobremim {
  height: 600px;
  width: 1440px;
  margin: 0 auto;
  display: block;
}

.title {
  color: var(--corSecundaria-vermelho);
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--fontPrincipal);
}

#container-sobremim #box-conteudo-sobremim {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 400px;
  margin: 10px auto 0 auto;
}

#box-paragraph-sobremim {
  width: 900px;
}

#box-paragraph-sobremim p {
  font-size: 18px;
  color: var(--corTercearia-branco);
  font-family: var(--fontSecundaria);
}

#box-img-garoto {
  height: 300px;
  width: 300px;
  border-radius: 8px;
}

/* sessao gostos pessoais */
#container-hobbies {
  width: 1440px;
  height: 700px;
  margin: 0 auto;
}

#container-hobbies #box-conteudo-hobbies {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container-hobbies #box-conteudo-hobbies .box-card-hobbies {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 460px;
  padding: 10px;
} 

#box-conteudo-hobbies .box-img-hobbies {
  width: 320px;
  height: 350px;
  display: block;
  border-radius: 4px;
  margin-bottom: 5px;
}

.box-card-hobbies .descricao-hobbies {
  font-size: 14px;
  text-align: left;
  color: var(--corTercearia-branco);
  font-family: var(--fontSecundaria);
}

/* sessao de motivacao */
#container-motivacao {
  width: 1440px;
  height: 500px;
  margin: 0 auto;
}

#container-motivacao #box-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 400px;
  margin: 10px auto 0 auto;
}

#container-motivacao #box-conteudo img {
  width: 200px;
  height: 200px;
}

#container-motivacao  #box-descricao-motivacao {
  width: 700px;
}

#container-motivacao  #box-descricao-motivacao p {
  font-size: 22px;
  color: var(--corTercearia-branco);
  font-family: var(--fontSecundaria);
}

